@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "../node_modules/tailwindcss/dist/base.min.css";
@import "../node_modules/tailwindcss/dist/components.min.css";
@import "../node_modules/tailwindcss/dist/utilities.min.css";